[submodule "frontend"]
	path = frontend
	url = https://github.com/minahabibm/Dotty-Frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/minahabibm/Dotty-Backend.git
	branch = main
